# .env.example
# Default paths on local Windows laptop
# default
DATA_DIR="D:/Dropbox/project_data/finm-32900-data-science"
OUTPUT_DIR="C:/Users/jdoe/GitRepositories/finm-32900-data-science/output"
BUILD_DIR="C:/Users/jdoe/GitRepositories/finm-32900-data-science/_build"
GITHUB_PAGES_REPO_DIR="C:/Users/jdoe/GitRepositories/finm-32900.github.io"
WRDS_USERNAME="jdoe"
