# .env.example_alt
# Alternative paths on AWS servers
# AWS
DATA_DIR="/data/unixhome/jdoe/data/finm-32900-data-science"
OUTPUT_DIR="/data/unixhome/jdoe/GitRepositories/finm-32900-data-science/output"
BUILD_DIR="/data/unixhome/jdoe/GitRepositories/finm-32900-data-science/_build"
NOTEBOOK_BUILD_DIR="/data/unixhome/jdoe/GitRepositories/finm-32900-data-science/src/_build"
GITHUB_PAGES_REPO_DIR="/data/unixhome/jdoe/GitRepositories/finm-32900.github.io"
WRDS_USERNAME="jdoe"