# .env.example_alt
# Alternative paths on AWS servers
# AWS
DATA_DIR="/data/unixhome/jdoe/data/finm-32900-data-science"
OUTPUT_DIR="/data/unixhome/jdoe/GitRepositories/finm-32900-data-science/output"
BUILD_DIR="/data/unixhome/jdoe/GitRepositories/finm-32900-data-science/_build"
WRDS_USERNAME="jdoe"